# dependencies
node_modules

# next.js
.next
out
tsconfig.tsbuildinfo

# IDE files
.idea

# production
build

# local env files
.env*.local
.env

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local JSON database used by the demo implementation
.data
